.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 0px;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 0px;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
}

.table__heading_theme_dark {
  text-align: left;
}
